:root {
    --red: #dc413e;
    --dk-gray: #c0c0c0;
    --lt-gray: #e8e8e8;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
.sr-only {
    position: absolute;
    width: 0;
    height: 0;
    left: -1000px;
    top: auto;
    overflow: hidden;
}

.inner-container {
    padding: 1rem;
    max-width: 76.75rem;
    margin: 0 auto;
}

/* Typography */

h2,
h3 {
    color: var(--red);
    text-transform: uppercase;
    font-size: 3.75rem;
    font-weight: 200 ;
}

h3 {
    font-size: 2.8125rem;
}

p {
    margin-bottom: 1.5rem;
}

/* Header Styles */

header {
    background-color: #000;
    position: sticky;
    top: -96px;
}

header .inner-container {
    padding-bottom: 0;
}

svg {
    fill: #fff;
}


.nav-links {
    display: flex;
    flex-flow: wrap;
}

.nav-links a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 0.5rem;
    display: block;
}

.nav-links a:hover,
.nav-links a:active {
    color: var(--red);
}


/* Form Styles */

fieldset {
    border: none;
    padding: 0;
    margin-bottom: 2.5rem;
}

label {
    font-size: 1.875rem;
    text-transform: uppercase;
    display: block;
}

input,
textarea {
    width: 100%;
    border: 1px solid var(--dk-gray);
    border-radius: 5px;
    padding: 0.5rem;
    box-shadow: 2px 2px 3px var(--lt-gray);
}

textarea {
    resize: none;
    min-height: 18.75rem;
}

input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
    margin: 0;
}

label[for="privacyPolicy"] {
    display: inline-block;
    font-size: 1rem;
    line-height: 1.5rem;
}

input[type="submit"] {
    text-transform: uppercase;
    font-size: 1.875rem;
    width: auto;
    border: none;
    background-color: #fff;
    box-shadow: none;
    font-weight: bold;
    cursor: pointer;
    transition: padding 1s ease;
}

input[type="submit"]:hover {
    color: var(--red);
    padding-left: 20px;
}

input:invalid,
textarea:invalid {
    box-shadow:0 0 5px tomato;
    border-radius: 5px;
}


@media only screen and (min-width:1260px) {
    fieldset {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    fieldset div {
        flex: 0 1 49%;
    }

    fieldset h3 {
        width: 100%;
    }
}